
<a routerLink="/AppointmentCreate/create" class="btn btn-success">Add New Appointment</a>

<hr />
<div>
    <h2>Appointment List</h2>
    <table class="table table-bordered table-responsive table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Patient Name</th>
                <th>Doctor Name</th>
                <th>Department Name</th>
                <th>Appointment Type</th>
                <th>Appointment Date</th>
                <th>Description</th>
                <th>Severity</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let appointment of appointments">
                <td>{{appointment.appointmentId}}</td>
                <td>{{appointment.patient.name}}</td>
                <td>{{appointment.doctor.name}}</td>
                <td>{{appointment.department.name}}</td>
                <td>{{appointment.appointmentType.name}}</td>
                <td>{{appointment.appointmentDate | date:'short'}}</td>
                <td>{{appointment.description}}</td>
                <td>{{appointment.severity}}</td>
                <td class="btn-group">
                    <a [routerLink]="['/AppointmentEdit/edit/', appointment.appointmentId]" class="btn btn-warning">Edit</a>
                    <button class="btn btn-danger" (click)="DeleteAppointment(appointment)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
